<%= render 'shared/page_title', title: "All Chefs" %>

</hr>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= will_paginate %>
  </div>
</div>

<% @chefs.each do |chef| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= link_to gravatar_for(chef, size: 150), chef_path(chef) %>
      <p>
        <h5>Chef name: <%= chef.name %></h5>
      </p>
    </div>
  </div>
<% end %> 