
<div class="home-background">
  <div class="text-center jumbotron"> 
    <h1> Sandra's Vegan Recipes</h1>
    <h2> All you'll ever need to make great meals.<br/></h2>
      <container><%= link_to "Sign Up", "", class: "btn btn-lg btn-success" %>

      <!--<p class="small-sandra">It's free!</p>-->
      </container>
    
  </div>
  
  
  <div class="row">
    <div class="col-md-6 text-center well">
      <h3 class="midrow">View Recipes as Guest User</h3>
      <h2 class="left">Browse and View Recipes</h2>
      <p><%= link_to "Browse Recipe Listings", recipes_path , class: "btn btn-primary btn-small" %></p>
    </div>
    <div class="col-md-6 text-center  well">
      <h3 class="midrow">View Recipes as Guest User</h3>
      <h2 class="left">Browse and View Recipes </h2>
      <p><%= link_to "Browse Recipe Listings", "#", class: "btn btn-primary btn-small" %></p>
    </div>
    <!--<div class="col-md-4 text-center well">-->
    <!--  <h3 class="midrow">View Recipes as Guest User</h3>-->
    <!--  <h2 class="left">Browse and View Recipes </h2>-->
    <!--  <p><%= link_to "Browse Recipe Listings", "#", class: "btn btn-primary btn-small" %></p>-->
  
    <!--</div>-->
  </div>
</div>
