<div class="text-center jumbotron"> 
  <h1> Welcome to My Recipes</h1>
  <h2> All you'll ever need to make great meals.<br/></h2>
    <%= link_to "Sign Up", "", class: "btn btn-lg btn-success" %>
    <br/>
    <br/>
    <p class="small-sandra">It's free and always will be.</p>
  
</div>


<div class="row">
  <div class="col-lg-4 text-center home-box well">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2 class="left">Browse and View Recipes</h2>
    <p><%= link_to "Browse Recipe Listings", "#", class: "btn btn-primary btn-small" %></p>
  </div>
  <div class="col-lg-4 text-center home-box well">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2 class="left">Browse and View Recipes </h2>
    <p><%= link_to "Browse Recipe Listings", "#", class: "btn btn-primary btn-small" %></p>
  </div>
  <div class="col-lg-4 text-center home-box well">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2 class="left">Browse and View Recipes </h2>
    <p><%= link_to "Browse Recipe Listings", "#", class: "btn btn-primary btn-small" %></p>

  </div>

</div>

