
.btn-success {
  background-color: #2eb82e;
  font-family: 'Lato', sans-serif;
  margin-right: 20px;
  border-radius: 0px !important;
}

.btn-primary {
  background-color: #044F67;
  font-family: 'Lato', sans-serif;
  margin-right: 20px;
  border-radius: 0px !important;
}

.btn.btn-lg.btn-warning {
  background-color: #006442;
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  border: none;
  margin-right: 20px;
  border-radius: 5px !important;
}

.btn.btn-lg.btn-warning:hover {
  background-color: #26A65B;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  margin-right: 20px;
  border-radius: 5px !important;
}
