
.small-little {
  font-size: 13px !important;
  text-align: center;
}

$navbar-default-bg: #044F67;
$light-orange: #32CD32;
$navbar-default-color: 	#4169E1;

@import url(https://fonts.googleapis.com/css?family=Lato);
@import "bootstrap-sprockets";
@import "bootstrap";





body {

  font-family: 'Lato', sans-serif !important;

}



.home-box{
  width: 32%;
  margin-left: 2px;
  margin-right: 2px;

}



h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, .5);
}


.footer{
  margin-top: 25px;
  padding-top: 10px;
  border-top: 1px solid black;
  text-align: center;
}

a {
  text-decoration: none;   
}


.well {
  padding: none !important;
  background-color: #cce5ff;
}

.chef_info {
  margin-top: 30px;
}

.gravatar {
  border-radius: 20px;
}

input, textarea, select, .uneditable-input {
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  
}

.input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px 10px 10px 10px;
}

.col-md-4.text-center.well {
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
}

ul{
    list-style-type: none;
}

//navbar //

.jumbotron {
    padding: 0px 0;
}

div.white.jumbotron.p.small-sandra {
  font-size: 9px !important;
  text-align: center !important;
  margin-top: 0px !important;
}

.image.responsive.home-bg {
  background-image: url("vegan_patty.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  /* Set rules to fill background */
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
	
  /* Set up positioning */
  position: fixed;
}

.footer {
   left:0px;
   bottom:00px;
   height:40px;
   width:100%;
   background-color: none;

}

.col-md-12-hide {
  opacity: 0;
  background-color: none;
  padding-bottom: 30px;
}

.basic-div {
  background-color: #cce5ff;
}

h3.a {
  text-align: center !important;
}

.div-index-recipes {
  background-color: black !important;
  margin-bottom: 10px !important;
}


.col-lg-6.well {
  margin-top: 5px;
  margin-bottom: 5px !important;
}

hr {
  color: black !important;
}

@media screen and (max-width: 500px) {
.chef_info {
    display: none;
}

.img-gravatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
}


hr {
  border-color: #26A65B !important;
  
}