.white.jumbotron.text-center.home h1{
  font-size: 80px !important;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.white.jumbotron.text-center.home h2{
  font-size: 40px !important;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

@media screen and (max-width: 480px) {
.white.jumbotron.text-center.home h1 { 
    font-size: 60px !important; 
  }
}

.white.jumbotron.text-center.home{
    color: white !important;
    border: none !important;
}


.col-md-4.col-md-offset-1.well.text-center {
  background-color: #26A65B;
  border-color: #26A65B;
  border-radius: 10px;
  color: white;
}

.col-md-4.offset-right-1.text-center.well {
  background-color: #26A65B;
  border-color: #26A65B;
  border-radius: 10px;
  color: white;
}
